<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TexaggFormsApp1.Properties.Settings.TEXAGG1ConnectionString"
            connectionString="Data Source=WINDOWS-5P8A750\sqlexpress;Initial Catalog=TEXAGG1;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="TexaggFormsApp1.Properties.Settings.TEXAGG1ConnectionString1"
            connectionString="Data Source=DESKTOP-0QUUQ4G\SQLEXPRESS;Initial Catalog=TEXAGG1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>